.prose h2 {
  background: transparent linear-gradient(92deg, rgba(78, 206, 239, .9) 0%, rgba(120, 204, 56, .9) 100%) 0% 0% no-repeat padding-box;
  background-size: 100% 3px;
  background-position: bottom;
  padding: .8rem 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.prose h3 {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.prose h3::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 0.4em solid transparent;
  border-bottom: 0.4em solid transparent;
  border-left: .6em solid #0E7A96;
  margin-right: .3em;
}

.prose blockquote {
  background: #e7f8ff;
  border-left: 6px solid #89d2e6;
  border-radius: 0.7em;
  padding: 0.7em 1em;
  margin: 1.5em 0;
  color: #232e3c;
  font-style: italic;
  box-shadow: 0 2px 8px 0 rgba(50, 120, 180, 0.07);
}

.prose figure {
  margin-bottom: 0;
}